#content
  %h2= name
  .content
    %ul{id: "nav"}
      %li
        %a{href: "/", title: "Dashboard" } Dashboard
  .endpoint
    target url: 
    %a{href: target, title: target }= target
    .value
      %form{action: request.path_info, method: "POST"}
        %label{for: "mbody"}Message Body
        %textarea{id: "mbody", name: "mbody"}= values[:mbody]
        %label{for: "rc"}Return Code
        %input{type: "text", id: "rc", name: "rc", value: values[:rc].to_s}
        %label{for: "flap"}Flap Percent
        %input{type: "text", id: "flap", name: "flap", value: values[:flap].to_s}%
        %input{type: "submit", value: "update"}
